nav {
    padding: 15px 23px;
}

.collapse {
    padding-left: 30%;
}

.navbar-brand {
    color: rgb(138, 10, 95);
    font-size: 33px;
}

.dropdown-menu {
    width: 400px!important;
    padding: 22px;
}